.nav{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    margin: 0;
    border-bottom: $border;
    text-transform: uppercase;
    font-size: $size-small;
    .nav-link {
        display: block;
        padding: $padding;
        &:hover,
        &.active{
            border-bottom: 2px $primary solid;    
            color: $text-strong;        
        }
    }
    a{
        text-decoration: none;
        color: $text;
    }
}